@-webkit-keyframes paw_movement {
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
}
@keyframes paw_movement {
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes levitate {
  40%, 80% {
    transform: translateY(0);
  }
  20%, 60% {
    transform: translateY(-10px);
  }
}
@keyframes levitate {
  40%, 80% {
    transform: translateY(0);
  }
  20%, 60% {
    transform: translateY(-10px);
  }
}
.banner, .carousel-inner .mainOverlayBanner, .bannerCardContactPage, .bannerCardHelpPage, .bannerCardDonationPage, .bannerCard, .overlayBanner {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.overlayBanner {
  width: 100%;
  background: linear-gradient(270deg, rgba(42, 86, 42, 0), rgba(26, 46, 23, 0.4) 80%, rgba(24, 44, 24, 0.8588235294));
}

.bannerCard {
  background-image: url("../assets/images/bannerAdoptions-min.jpg");
}

.bannerCardDonationPage {
  background-image: url("../assets/images/bannerDonations-min2.png");
}

.bannerCardHelpPage {
  background-image: url("../assets/images/bannerHelp-min.jpg");
}

.bannerCardContactPage {
  background-image: url("../assets/images/bannerContacto-min.jpg");
}

.carousel-inner {
  max-height: 700px;
}
.carousel-inner .carousel-item {
  max-height: 700px;
  position: relative;
}
.carousel-inner .mainOverlayBanner {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(270deg, #182c18, rgba(26, 46, 23, 0.5607843137) 80%, #182c18);
}
.carousel-inner .carousel-img {
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 700px;
  -o-object-position: center;
     object-position: center;
}

.navbar-brand img {
  max-width: 130px;
}

.main-nav li {
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.main-nav li:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #bec8cb;
}

.animationImg {
  width: 30px;
  -webkit-animation-name: paw_movement;
          animation-name: paw_movement;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

footer .nav-bar .nav-item {
  transition: all 1s;
  /*.nav-link::after{
      content: "|";
      padding: 0 0 0 20px;
  }
  &:last-child .nav-link:after{
      content: "";
  }*/
}
footer .nav-bar .nav-item:hover {
  background-color: #39593d;
}

.social-media a:hover {
  -webkit-animation-name: levitate;
          animation-name: levitate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.social-media a:hover .social-media__tw {
  filter: drop-shadow(0px 0px 10px #13e5f0);
}
.social-media a:hover .social-media__ig {
  filter: drop-shadow(0px 0px 10px #ae13f0);
}
.social-media a:hover .social-media__fb {
  filter: drop-shadow(0px 0px 10px #1359f0);
}

body {
  font-family: "Quicksand", sans-serif;
}

.bg-primary {
  background-color: #629668 !important;
}

.bg-secondary {
  background-color: #8448bb !important;
}

.btn-primary {
  background-color: #8448bb;
  border-color: #8448bb;
}
.btn-primary:hover {
  background-color: #4f1d7d;
  border-color: #8448bb;
}
.btn-primary:focus {
  background-color: #4f1d7d;
  border-color: #8448bb;
  box-shadow: 0 0 0 0.25rem #8448bb;
}

.homeIntroductionText-xs {
  display: none;
}

.separator {
  height: 1px;
  width: 100%;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.card {
  background-color: rgba(79, 29, 125, 0.25);
  position: relative;
  overflow: hidden;
}
.card .imgCard {
  height: 100%;
}
.card .imgCard img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center;
     object-position: center;
  transition: all 0.7s;
}
.card .card-body {
  position: absolute;
  width: 100%;
  bottom: -25%;
  transition: all 0.7s;
  background-color: #4f1d7d;
}
.card:hover .imgCard img {
  height: 60%;
}
.card:hover .card-body {
  bottom: 0;
}

.catSelector {
  border-radius: 50px 1px 50px 1px;
  width: 90%;
  height: 300px;
  background-position: 30%;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
  transition: all 0.5s;
  background-image: url("../assets/images/gatos.png");
}
.catSelector h2 {
  background-color: #4f1d7d;
}
.catSelector:hover {
  transform: scale(1.1, 1.1);
}
.catSelector .catSelectorLabel {
  border-radius: 0 0 30px 0;
  background-color: 50%;
}

.dogSelector {
  border-radius: 50px 1px 50px 1px;
  width: 90%;
  height: 300px;
  background-position: 30%;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
  transition: all 0.5s;
  background-image: url("../assets/images/perros.png");
}
.dogSelector h2 {
  background-color: #4f1d7d;
}
.dogSelector:hover {
  transform: scale(1.1, 1.1);
}
.dogSelector .dogSelectorLabel {
  border-radius: 0 0 30px 0;
  background-color: 50%;
}

.container-cards:hover .animalCard {
  filter: blur(1px);
  opacity: 0.5;
}
.container-cards .animalCard {
  width: 18rem;
  height: 30rem;
  border: 0;
}
.container-cards .animalCard a {
  text-decoration: none;
  background-color: rgb(95, 52, 135);
}
.container-cards .animalCard:hover {
  opacity: 1;
  filter: blur(0px);
}

.socialMedia__link {
  position: relative;
}
.socialMedia__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  height: 1px;
  width: 50px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
}
.socialMedia__link img:hover {
  -webkit-animation-name: levitate;
          animation-name: levitate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media only screen and (max-width: 992px) {
  .donation-btn {
    margin: 1rem !important;
  }
  .navbar-brand img {
    justify-self: center;
  }
  .navbar-toggler {
    order: 1;
  }
  .navbar-collapse {
    order: 3;
  }
  .navbar-nav {
    align-items: center;
  }
  .helpPageBtn {
    align-self: center !important;
  }
}
@media only screen and (max-width: 576px) {
  .container-cards {
    justify-content: center;
  }
  footer .nav-bar {
    flex-flow: column nowrap;
    align-items: center;
  }
}/*# sourceMappingURL=styles.css.map */