@charset "UTF-8";
/* Estoy en duda si este mixin es correcto o si debería ser un extend*/
@-webkit-keyframes paw_movement {
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
}
@keyframes paw_movement {
  20% {
    transform: rotate(-45deg);
  }
  40% {
    transform: rotate(45deg);
  }
}
@-webkit-keyframes levitate {
  40%, 80% {
    transform: translateY(0);
  }
  20%, 60% {
    transform: translateY(-10px);
  }
}
@keyframes levitate {
  40%, 80% {
    transform: translateY(0);
  }
  20%, 60% {
    transform: translateY(-10px);
  }
}
.banner, .bannerCardContactPage, .bannerCardHelpPage, .bannerCardDonationPage, .bannerCard, .overlayBanner {
  height: 500px;
  background-size: cover;
  background-position: center;
}

.overlayBanner {
  background: linear-gradient(270deg, rgba(42, 86, 42, 0), rgba(26, 46, 23, 0.4) 80%, rgba(24, 44, 24, 0.8588235294));
}

.bannerCard {
  background-image: url("../assets/images/bannerAdoptions-min.jpg");
}

.bannerCardDonationPage {
  background-image: url("../assets/images/bannerDonations-min.jpg");
}

.bannerCardHelpPage {
  background-image: url("../assets/images/bannerHelp-min.jpg");
}

.bannerCardContactPage {
  background-image: url("../assets/images/bannerContacto-min.jpg");
}

.navbar-brand img {
  max-width: 100px;
}

.main-nav li {
  transition: color 0.5s ease-in-out, box-shadow 0.5s ease-in-out;
}
.main-nav li:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #bec8cb;
}

.animationImg {
  width: 30px;
  -webkit-animation-name: paw_movement;
          animation-name: paw_movement;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.footer-nav li:hover {
  -webkit-animation-name: levitate;
          animation-name: levitate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.bg-primary {
  background-color: #629668 !important;
}

.bg-secondary {
  background-color: #8448bb !important;
}

.btn-primary {
  background-color: #8448bb;
  border-color: #8448bb;
}
.btn-primary:hover {
  background-color: #4f1d7d;
  border-color: #8448bb;
}

.homeIntroductionText-xs {
  display: none;
}

.carousel-inner {
  max-height: 500px;
}

.separator {
  height: 1px;
  width: 100%;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.imgCard {
  height: 300px;
  background-position: center;
  background-size: cover;
}

.catSelector {
  border-radius: 50px 1px 50px 1px;
  width: 90%;
  height: 300px;
  background-position: 30%;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
  transition: all 0.5s;
  background-image: url("../assets/images/gatos.png");
}
.catSelector:hover {
  transform: scale(1.1, 1.1);
}
.catSelector .catSelectorLabel {
  border-radius: 0 0 30px 0;
  background-color: 50%;
}

.dogSelector {
  border-radius: 50px 1px 50px 1px;
  width: 90%;
  height: 300px;
  background-position: 30%;
  box-shadow: 0 0 5px 0 rgb(0, 0, 0);
  transition: all 0.5s;
  background-image: url("../assets/images/perros.png");
}
.dogSelector:hover {
  transform: scale(1.1, 1.1);
}
.dogSelector .dogSelectorLabel {
  border-radius: 0 0 30px 0;
  background-color: 50%;
}

.container-cards:hover .animalCard {
  filter: blur(1px);
  opacity: 0.5;
}
.container-cards .animalCard {
  border: 0;
  transition: all 0.5s;
}
.container-cards .animalCard a {
  text-decoration: none;
  background-color: rgb(95, 52, 135);
}
.container-cards .animalCard:hover {
  transform: scale(1.1, 1.1);
  opacity: 1;
  filter: blur(0px);
}

.socialMedia__link {
  position: relative;
}
.socialMedia__link::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -30px;
  height: 1px;
  width: 50px;
  border-radius: 0 0 6px 6px;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.4);
}
.socialMedia__link img:hover {
  -webkit-animation-name: levitate;
          animation-name: levitate;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@media only screen and (max-width: 992px) {
  .donation-button {
    order: 0;
  }
  .navbar-toggler {
    order: 1;
  }
  .navbar-nav {
    align-items: center;
  }
  /*Help page*/
  .helpPageBtn {
    align-self: center !important;
  }
}
@media only screen and (max-width: 576px) {
  .sponsorLogo {
    width: 100%;
  }
  .homeIntroductionText {
    display: none;
  }
  .homeIntroductionText-xs {
    display: block;
  }
  .container-cards {
    justify-content: center;
  }
  footer {
    text-align: center;
  }
}/*# sourceMappingURL=styles.css.map */