@import "utilidades/variables";
@import "utilidades/mixin";

@import "componentes/animations";
@import "componentes/banners";
@import "componentes/buttons";
@import "componentes/cards";
@import "componentes/carousel";

@import "disposicion/header";
@import "disposicion/footer";


body{
    font-family: 'Quicksand', sans-serif;
}

.bg-primary{
    background-color: $primaryColor !important;
}

.bg-secondary{
    background-color: $secondaryColor !important;
}

textarea{
    resize: none
}

.homeIntroductionText-xs{
    display: none;
}

.separator{
    height: 1px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.catSelector{
    @include animalSelector("../assets/images/gatos.png");
    .catSelectorLabel{
        border-radius: 0 0 30px 0;
        background-color: 50%;
    }
}

.dogSelector{
    @include animalSelector("../assets/images/perros.png");
    .dogSelectorLabel{
        border-radius: 0 0 30px 0;
        background-color: 50%;
    }
}
  
.socialMedia__link{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: -30px;
        height: 1px;
        width: 50px;
        border-radius:	0 0 6px 6px;
        box-shadow: 0px 5px 6px rgba(0,0,0,.4);
    }
    img:hover{
        animation-name: levitate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@media only screen and (max-width: 992px){
    .donation-btn{
        margin: 1rem !important;
    }
    .navbar-brand img{
        justify-self:center;
    }
    .navbar-toggler{
        order: 1;
    }
    .navbar-collapse{
        order: 3;
    }

    .navbar-nav{
        align-items: center;
    }

    .helpPageBtn{
        align-self: center !important;
    }

}

@media only screen and (max-width: 576px){
    .container-cards{
        justify-content: center;
    }
    footer .nav-bar{
        flex-flow: column nowrap;
        align-items: center;
    }
}

