@import "utilidades/variables";
@import "utilidades/mixin";

@import "componentes/animations";
@import "componentes/banners";

@import "disposicion/header";
@import "disposicion/footer";


.bg-primary{
    background-color: $primaryColor !important;
}

.bg-secondary{
    background-color: $secondaryColor !important;
}

.btn-primary{
    background-color: $secondaryColor;
    border-color: $secondaryColor;
    &:hover{
        background-color: $darkSecondaryColor;
        border-color: $secondaryColor;
    }
}

.homeIntroductionText-xs{
    display: none;
}

.carousel-inner{
    max-height: $bannerHeight;
}

.separator{
    height: 1px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.imgCard{
    height: map-get($customSizes, "300" );
    background-position: center;
    background-size: cover;
}

.catSelector{
    @include animalSelector("../assets/images/gatos.png");
    .catSelectorLabel{
        border-radius: 0 0 30px 0;
        background-color: 50%;
    }
}

.dogSelector{
    @include animalSelector("../assets/images/perros.png");
    .dogSelectorLabel{
        border-radius: 0 0 30px 0;
        background-color: 50%;
    }
}

.container-cards{
    &:hover {
        .animalCard{
            filter: blur(1px);
            opacity: .5;
        }
    }
    .animalCard{
        border: 0;
        transition: all .5s;
        a{
            text-decoration: none;
            background-color: rgb(95, 52, 135);
        }
        &:hover{
            transform: scale(1.1, 1.1);
            opacity: 1;
            filter: blur(0px);
        }
    }
} 
    

.socialMedia__link{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: -30px;
        height: 1px;
        width: 50px;
        border-radius:	0 0 6px 6px;
        box-shadow: 0px 5px 6px rgba(0,0,0,.4);
    }
    img:hover{
        animation-name: levitate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@media only screen and (max-width: 992px){
    .donation-button{
        order: 0;
    }
    .navbar-toggler{
        order: 1;
    }

    .navbar-nav{
        align-items: center;
    }

    /*Help page*/
    .helpPageBtn{
        align-self: center !important;
    }

}

@media only screen and (max-width: 576px){
    .sponsorLogo{
        width: 100%;
    }
    .homeIntroductionText{
        display: none;
    }
    .homeIntroductionText-xs{
        display: block;
    }
    .container-cards{
        justify-content: center;
    }
    footer{
        text-align: center;
    }
}


