@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/maps";
@import "../node_modules/bootstrap/scss/utilities";

@import "utilidades/variables";
@import "utilidades/mixin";

@import "componentes/animations";
@import "componentes/banners";
@import "componentes/carousel";

@import "disposicion/header";
@import "disposicion/footer";

.homeIntroductionText-xs{
    display: none;
}

.separator{
    height: 1px;
    width: 100%;
    box-shadow: 0 0 5px 0 rgb(0, 0, 0);
}

.card{
    background-color: rgba(79, 29, 125,0.25);
    position: relative;
    overflow: hidden;
    .imgCard{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit:none;
            object-position: center ;
            transition: all .7s;
        }
    }
    .card-body{
        position: absolute;
        width: 100%;
        bottom: -30%;
        transition: all .7s;
        background-color: $darkSecondary;
    }
    &:hover{
        .imgCard img{
            height: 60%;
        }
        .card-body{
            bottom: 0;
        }
    }
}

.catSelector{
    @include animalSelector("../assets/images/gatos.png");
    .catSelectorLabel{
        border-radius: 0 0 30px 0;
        background-color: 50%;
    }
}

.dogSelector{
    @include animalSelector("../assets/images/perros.png");
    .dogSelectorLabel{
        border-radius: 0 0 30px 0;
        background-color: 50%;
    }
}

.container-cards{
    &:hover {
        .animalCard{
            filter: blur(1px);
            opacity: .5;
        }
    }
    .animalCard{
        border: 0;
        a{
            text-decoration: none;
            background-color: rgb(95, 52, 135);
        }
        &:hover{
            opacity: 1;
            filter: blur(0px);
        }
    }
} 
    

.socialMedia__link{
    position: relative;
    &::after{
        content: "";
        position: absolute;
        right: 0;
        bottom: -30px;
        height: 1px;
        width: 50px;
        border-radius:	0 0 6px 6px;
        box-shadow: 0px 5px 6px rgba(0,0,0,.4);
    }
    img:hover{
        animation-name: levitate;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
}

@media only screen and (max-width: 992px){
    .donation-button{
        order: 0;
    }
    .navbar-toggler{
        order: 1;
    }

    .navbar-nav{
        align-items: center;
    }

    /*Help page*/
    .helpPageBtn{
        align-self: center !important;
    }

}

@media only screen and (max-width: 576px){
    .sponsorLogo{
        width: 100%;
    }
    .homeIntroductionText{
        display: none;
    }
    .homeIntroductionText-xs{
        display: block;
    }
    .container-cards{
        justify-content: center;
    }
    footer{
        text-align: center;
    }
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";
