
footer .nav-bar .nav-item{
    transition: all 1s ;

    &:hover{
        background-color: $darkPrimaryColor;
    }
}

.social-media a:hover{
        animation-name: levitate ;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    
        .social-media__tw{
            filter: drop-shadow(0px 0px 10px map-get($socialMediaColors, "twitter"));
        }
        .social-media__ig{
            filter: drop-shadow(0px 0px 10px map-get($socialMediaColors, "instagram"));
        }
        .social-media__fb{
            filter: drop-shadow(0px 0px 10px map-get($socialMediaColors, "facebook"));
        }
}