$customSizes:(
    "100": 100px,
    "200": 200px,
    "300": 300px,
    "400": 400px,
    "500": 500px
);

$socialMediaColors:(
  "twitter": #13e5f0,
  "instagram":#ae13f0,
  "facebook": #1359f0
);

$primary: #629668;
$darkPrimary: #39593d;
$secondary: #8448bb;
$darkSecondary: #4f1d7d;
$bannerHeight: map-get($customSizes, "500");


$custom-theme-colors:map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary,
));

$theme-colors: map-merge($theme-colors, $custom-theme-colors);
$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
$utilities-colors: map-merge($utilities-colors, $theme-colors-rgb);
$utilities-text-colors: map-loop($utilities-colors, rgba-css-var, "$key", "text");
$utilities-bg-colors: map-loop($utilities-colors, rgba-css-var, "$key", "bg");


