$customSizes:(
    "100": 100px,
    "200": 200px,
    "300": 300px,
    "400": 400px,
    "500": 500px
);

$socialMediaColors:(
  "twitter": #13e5f0,
  "instagram":#ae13f0,
  "facebook": #1359f0
);

$primaryColor: #629668;
$darkPrimaryColor: #39593d;
$secondaryColor: #8448bb;
$darkSecondaryColor: #4f1d7d;
$bannerHeight: map-get($customSizes, "500");
